<p-panel header="Product List">
  <!-- Filter (Search Panel) -->

  <div class="grid">
    <div class="col-4">
      <p-button
        label="Add new"
        (click)="showAddModal()"
        icon="pi pi-plus"
        iconPos="left"
      ></p-button>
      <p-button
        label="Update"
        (click)="showEditModal()"
        *ngIf="selectedItems.length === 1"
        class="ml-1 p-button-help"
        icon="fa fa-minus"
        iconPos="left"
      ></p-button>
    </div>
    <div class="col-8">
      <div class="formgroup-inline">
        <div class="field">
          <label for="txt-keyword" class="p-sr-only">Từ khóa</label>
          <input id="txt-keyword"[(ngModel)]="keyWord" pInputText type="text" placeholder="Gõ từ khóa" />
        </div>
        <div class="field">
          <p-dropdown
            [options]="productCategories"
            [(ngModel)]="categoryId"
            placeholder="Select category"
          ></p-dropdown>
        </div>
        <button
          label="Search"
          pButton
          icon="fa fa-search"
          type="button"
          (click)="loadData()"
        ></button>
      </div>
    </div>
  </div>

  <!-- Table -->

  <p-table
    #panel
    [value]="items"
    [(selection)]="selectedItems"
    selectionMode="multiple"
    [tableStyle]="{ 'min-width': '60rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10px">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Code</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Category</th>
        <th>Type</th>
        <th>Price</th>
        <th>Sort Order</th>
        <th>Visible</th>
        <th>Active</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pSelectableRow]="item">
        <td style="width: 10px">
          <span class="ui-column-title"></span>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.code }}</td>
        <td>{{ item.sku }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.categoryId }}</td>
        <td>{{ getProductTypeName(item.productType) }}</td>
        <td>{{ item.sellPrice }}</td>
        <td>{{ item.sortOrder }}</td>
        <td>
          <p-tag  *ngIf="item.visibility === true" severity="success" value="Visibility"></p-tag>
          <p-tag  *ngIf="item.visibility === false" severity="danger" value="Hide"></p-tag>
        </td>
        <td>
          <p-tag  *ngIf="item.isActive === true" value="Active" severity="success"></p-tag>
          <p-tag  *ngIf="item.isActive === false" value="Lock" severity="danger"></p-tag>
        </td>
        <!-- <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
        <!-- <td>{{product.price | currency:'USD'}}</td> -->

        <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
        <!-- <td><p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ totalCount | number }} products.
      </div>
    </ng-template>
  </p-table>
  <!-- Paging -->

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="maxResultCount"
    [totalRecords]="totalCount"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  ></p-paginator>

  <!-- Block UI -->

  <p-blockUI [target]="panel" [blocked]="blockedPanel">
    <i class="pi pi-lock" style="font-size: 3rem"></i>

    <div class="spinner"></div>
  </p-blockUI>
</p-panel>
