<form [formGroup]="form" (ngSubmit)="saveChange()" skipValidation>
  <p-panel #panel header="Product">
    <!-- Form grid -->
    <div class="formgrid grid">
      <!-- Name -->
      <div class="field col-12">
        <label for="name" class="block">Name<span class="required">*</span></label>
        <input
          id="name"
          pInputText
          (keyup)="generateSlug()"
          type="text"
          class="w-full"
          formControlName="name"
        />
        <!-- Validation Name -->
        <app-validation-message
          [entityForm]="form"
          fieldName="name"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="code" class="block">Code<span class="required">*</span></label>
        <input id="code" pInputText type="text" formControlName="code" />
        <!-- Validation Code -->
        <app-validation-message
          [entityForm]="form"
          fieldName="code"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="slug" class="block">Slug<span class="required">*</span></label>
        <input id="slug" pInputText type="text" class="w-full" formControlName="slug" />
        <!-- Validation slug -->
        <app-validation-message
          [entityForm]="form"
          fieldName="slug"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12">
        <label for="sku" class="block">SKU<span class="required">*</span></label>
        <input id="sku" pInputText type="text" class="w-full" formControlName="sku" />
        <!-- Validation SKU -->
        <app-validation-message
          [entityForm]="form"
          fieldName="sku"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <!-- Manufacturer -->
      <div class="field col-12">
        <label for="manufacturer" class="block">Manufacturer<span class="required">*</span></label>
        <p-dropdown
        inputId="manufacturer"
          [options]="manufacturers"
          formControlName="manufacturerId"
          placeholder="Select a manufacturer"
          [showClear]="true"
          [filter]="true"
          filterBy=""
          autoWidth="false"
          [style]="{ width: '100%' }"
        ></p-dropdown>
        <!-- Validation Manufacturer -->
        <app-validation-message
          [entityForm]="form"
          fieldName="manufacturerId"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <!-- Category -->
      <div class="field col-12">
        <label for="category" class="block">Category<span class="required">*</span></label>
        <p-dropdown
          inputId="category"
          [options]="productCategories"
          formControlName="categoryId"
          placeholder="Select a category"
          [showClear]="true"
          [filter]="true"
          filterBy=""
          autoWidth="false"
          [style]="{ width: '100%' }"
        ></p-dropdown>
        <!-- Validation Category -->
        <app-validation-message
          [entityForm]="form"
          fieldName="categoryId"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <!-- Product Type -->
      <div class="field col-12">
        <label for="productTypes" class="block">Product Type<span class="required">*</span></label>
        <p-dropdown
          inputId="productTypes"
          [options]="productTypes"
          formControlName="productType"
          placeholder="Select a productType"
          [showClear]="true"
          autoWidth="false"
          [style]="{ width: '100%' }"
        ></p-dropdown>
        <!-- Validation ProductType -->
        <app-validation-message
          [entityForm]="form"
          fieldName="productType"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <!-- Sort Order -->
      <div class="field col-12">
        <label for="sortOrder" class="block">Sort Order<span class="required">*</span></label>
        <p-inputNumber id="sortOrder" formControlName="sortOrder"></p-inputNumber>
        <!-- Validation SortOrder -->
        <app-validation-message
          [entityForm]="form"
          fieldName="sortOrder"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <!-- Price -->
      <div class="field col-12">
        <label for="sellPrice" class="block">Price<span class="required">*</span></label>
        <p-inputNumber inputId="sellPrice" formControlName="sellPrice"></p-inputNumber>
        <!-- Validation Price -->
        <app-validation-message
          [entityForm]="form"
          fieldName="sellPrice"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <!-- Visibility -->
      <div class="field-checkbox col-12 md:col-3">
        <p-checkbox formControlName="visibility" inputId="visibility" [binary]="true"></p-checkbox>
        <label for="visibility">Visibility</label>
      </div>
      <!-- Is Active -->
      <div class="field-checkbox col-12 md:col-3">
        <p-checkbox formControlName="isActive" inputId="isActive" [binary]="true"></p-checkbox>
        <label for="isActive">Is Active</label>
      </div>
       <!-- Meta desc -->
       <div class="field col-12">
        <label for="seoMetaDescription" class="block">Seo Meta Description</label>
        <textarea
          id="seoMetaDescription"
          pInputTextarea
          class="w-full"
          formControlName="seoMetaDescription"
        ></textarea>
      </div>
      <!-- Description -->
      <div class="field col-12">
        <label for="description" class="block">Description</label>
        <p-editor
          formControlName="description"
          id="description"
          [style]="{ height: '320px' }"
        ></p-editor>
      </div>
    </div>
    <!-- [disabled]="!form.valid || btnDisabled" -->
    <ng-template pTemplate="footer">
      <p-button
        type="submit"

        icon="fa fa-save"
        iconPos="left"
        label="Save"
      ></p-button>
    </ng-template>
    <!-- Block UI -->

    <p-blockUI [target]="panel" [blocked]="blockedPanel">
      <i class="pi pi-lock" style="font-size: 3rem"></i>

      <div class="spinner"></div>
    </p-blockUI>
  </p-panel>
</form>
